<ion-header class="ion-header-title" [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button-externo"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div class="meu-filho">
      <img src="assets/img/avatar.jpg" alt="Foto do filho">
    </div>
  </div>

  <div class="status-semanal">
    <p>Escola: Polivalente</p>
    <p>Nome: Anthony</p>
    <p>idade : 16</p>
  </div>
</ion-content>
