ion-toolbar {
    --background: #c4680b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

ion-content {
  --background: #f6d0a7;
}

.meu-filho {
  width: 150px;
  height: 150px;
  align-items: center;
  margin: 0 auto;
  border-radius: 20%;
  overflow: hidden;
  margin-top: 30px;
}
.status-semanal {
  margin-top: 2rem;
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff3e0;
  p {
    color: #000;
  }
}