<ion-header class="ion-header-title" [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
 
<div class="ion-padding">
    <h1>Meu filho</h1>
    <div class="meu-filho">
      <img class="img-filho" src="assets/img-filho.png" alt="filho-usuario">
    </div>
</div>
 
<div class="info_filho">
 
  <p>Ano: 5°</p>
  <p>Idade: 16</p>
  <p>Escola: Polivalente</p>
  <p>Nome: Anthony</p>
 
</div>
 
<div class="QR_code">
    <img class="img-QR_code" src="assets/QR_code.png" alt="QR_code">
  </div>
</ion-content>