ion-toolbar {
  --background: #c4680b;
}

ion-toolbar ion-title {
  color: white;
  font-family: Work Sans;
  text-align: center;
}

ion-content {
  --background: #f6d0a7;
}

/* tira padding do content se quiser usar a largura toda */
ion-content {
  --padding-start: 0;
  --padding-end: 0;
}

/* container que centraliza os filhos */
.botoes-menu {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  padding: 0; /* sem padding extra */
  margin: 0;
}

/* estilo do botão */
ion-button {
  --background: #ffffff;
  --color: #0e6a74;
  font-family: "Roboto", sans-serif;
  border: 2px solid black;
  border-radius: 5px;

  /* largura menor e centralizada */
  width: 100%; /* ocupa 90% do espaço do container */
  max-width: 350px; /* limite em telas grandes */

  min-height: 60px;
  font-size: clamp(1rem, 4vw, 2rem);

  /* zera padding interno padrão do Ionic */
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  padding: 0.5rem; /* padding interno que você quiser */
}

.botoes-menu {
  --background: #ffffff
  margin-top: 30px;
  display: flex;
  flex-direction: column; /* um embaixo do outro */
  align-items: center; /* centraliza horizontalmente */
  gap: 15px; /* espaço entre os botões */
  padding: 0;
}

ion-menu-button {
  --color: #000;
  
}