ion-toolbar {
  --background: #c4680b;
}

ion-toolbar ion-title {
  color: white;
  font-family: Work Sans;
  text-align: center;
}

ion-content {
    --background: #f6d0a7;
}

ion-button {
  --background: #ffffff;
  --color: #0e6a74;
  font-family: Work Sans;
  margin-top: 20px;
  
}