ion-toolbar {
  --background: #c4680b;
}

ion-toolbar ion-title {
  color: white;
  text-align: left;
  font-family: Work Sans;
}

ion-content {
    --background: #f6d0a7;
}

ion-button.casa {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 300px;
}
