<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button-externo"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content routerlink="" [fullscreen]="true">
  <div class="botoes-menu">
    <ion-button id="Filho" expand="block" (click)="irParaFilho()" >Filho(a)</ion-button>
    <ion-button id="calendarioaluno" expand="block (click)="irparacalendarioaluno>Calendário</ion-button>
    <ion-button>Notificações</ion-button>
    <ion-button>Status</ion-button>
    <ion-button>Conversas</ion-button>
    <ion-button>Sair</ion-button>
  </div>

</ion-content>
