<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button class="menu-button-externo"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu-container">
    <div class="welcome-section">
      <h2>Menu Principal</h2>
      <p>Escolha uma opção abaixo</p>
    </div>

    <div class="botoes-menu">
      <ion-button
        class="menu-btn"
        id="Docente"
        expand="block"
        (click)="irParaDocente()"
      >
        👨‍🏫 Docente
      </ion-button>

      <ion-button 
      class="menu-btn" 
      id="Calendario" 
      expand="block" 
      (click)="IrParaCalendarioDocente()"
      >
      📅 Editar calendário
    </ion-button>
        


      <ion-button class="menu-btn" id="Turmas" expand="block" (click)="IrParaTurmas()">
        👨‍👩‍👧‍👦 Turmas
      </ion-button>

      <ion-button class="menu-btn" expand="block"> 📧 Comunicados </ion-button>
    </div>
  </div>
</ion-content>
