ion-toolbar {
  --background: #c4680b;
}

ion-content {
  --background: #f6d0a7;
}

/* MENU */

ion-menu-button {
  --color: #000;
  width: 60px;
}

.calendar-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

ion-datetime {
  --background: #fff;
  --border-radius: 12px;
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  position: fixed;
}

ion-datetime::part(calendar-day) {
  color: #000 !important;
}

ion-datetime::part(day-of-week) {
  color: #000 !important;
}

ion-datetime::part(month-year-button) {
  color: #000 !important;
}