ion-header {
    height: 10rem;
    div.bg {
        height: 10rem;
    }
}

// Estilos do menu lateral
ion-menu {
    --background: #f4f4f4;
    --color: #333;
    
    ion-content {
        --background: #ffffff;
    }

}