ion-header {
    height: 10rem;
    div.bg {
        height: 10rem;
        background: linear-gradient(to bottom, #c4680b, #ffffff);
    }
    ion-item {
        margin-top: 1rem;
        --background: transparent;
        color: #333;
        position: absolute;
    }
}

// Estilos do menu lateral
ion-menu {
    --background: #f4f4f4;
    --color: #000000;
    
    ion-content {
        --background: #ffffff;
    }

}