<ion-header class="ion-header-title" [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button-externo"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h1>Crachá</h1>
    <div class="meu-filho">
      <img src="assets/img/avatar.jpg" alt="Foto do filho" />
    </div>
  </div>

  <div class="info_filho">
    <div class="info-item">
      <span class="label">Instituição:</span>
      <span class="value">senac</span>
    </div>
    <div class="info-item">
      <span class="label">Nome:</span>
      <span class="value">Anthony</span>
    </div>
    <div class="info-item">
      <span class="label">Cargo</span>
      <span class="value">professor</span>
    </div>
  </div>

  <!------- <div class="QR_code">
    <div style="width: 150px; height: 150px; background: #fff; display: flex; align-items: center; justify-content: center; border-radius: 8px; margin: 0 auto;">
      <span style="color: #000; font-size: 12px; font-weight: bold;">QR CODE</span>
    </div>
  </div> ------->
</ion-content>
