<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tela de Termos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="balao-principal">
      <h1>Termos e Condições</h1>

      <div class="balao-interno">
        <p>
          1. <strong>Aceitação dos Termos</strong>: Ao acessar ou usar este
          aplicativo, você concorda em cumprir estes Termos de Uso e todas as
          leis e regulamentos aplicáveis. Se você não concordar com algum dos
          termos, não utilize o aplicativo. <br /><br />

          2. <strong>Uso do Aplicativo</strong>: Você se compromete a utilizar o
          aplicativo apenas para fins legais e de acordo com estes termos. É
          proibido: Utilizar o aplicativo para atividades fraudulentas ou
          ilegais; Tentar acessar áreas restritas ou sistemas internos;
          Compartilhar conteúdo ofensivo, discriminatório ou que viole direitos
          de terceiros. <br /><br />

          3. <strong>Propriedade Intelectual</strong>: Todo o conteúdo presente
          no aplicativo, incluindo textos, imagens, logotipos, ícones, gráficos
          e códigos, é protegido por direitos autorais e pertence aos seus
          respectivos proprietários. É proibida a reprodução, distribuição ou
          modificação sem autorização prévia. <br /><br />

          4. <strong>Privacidade</strong>: As informações coletadas são tratadas
          conforme nossa [Política de Privacidade]. Ao utilizar o aplicativo,
          você consente com a coleta e uso de dados conforme descrito nessa
          política.
        </p>


      </div>
    </div>
    
  </div>
</ion-content>
