//balão de termos
.balao-principal {
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
  margin-top: 40px;
  background: #f6d0a7;
}

.balao-principal h1 {
  color: #000000;
  font-size: 22px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-top: 5%;
}

.balao-interno {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
  max-height: 200px; 
  overflow: hidden; 

}

p {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

ion-toolbar {
  --background: #c4680b;
  ion-title {
    color: white;
  }
}

ion-content {
  --background: #0e6a74;
  // verificar depois - - - - - - - - - background: url("/assets/img/background-termos.jpg") no-repeat center center / cover;
}
