//balão de termos
.balao-principal {
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
  margin-top: 40px;
  background: #f6d0a7;
}

.balao-principal h1 {
  color: #000000;
  font-size: 22px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-top: 5%;
}

.balao-interno {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
  max-height: 255px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #d4d4d4;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #357abd;
  }
}

p {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 0;
  line-height: 1.5;
  text-align: justify;
  padding: 0;
}

ion-toolbar {
  --background: #c4680b;
  ion-title {
    color: white;
  }
}

ion-infinite-scroll {
  display: none !important;
}

//botões de aceitar e recusar aos termos
#botoes {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0 16px;
}

#aceitar {
  --background: #0ba825; /* Azul padrão do Ionic */
  --color: white;
  --border-radius: 8px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  cursor: pointer;
}

#aceitar.hoover {
  --background: #0a8e1c;
  transition: 2s ease-in-out;
}

#recusar {
  --background: #eb445a; /* Vermelho padrão do Ionic */
  --color: white;
  --border-radius: 8px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  cursor: pointer;
}

#recusar.hoover {
  --background: #c0392b;
  transition: 2s ease-in-out;
}

#container {
  background-image: url("assets/img/termos.png"); /* Ajuste o caminho conforme sua estrutura */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}
