<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tela de Termos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="balao-principal">
      <h1>Termos e Condições</h1>
      <div class="balao-interno">
        <p>
          1. <strong>Aceitação dos Termos</strong>: Ao acessar ou usar este
          aplicativo, você concorda em cumprir estes Termos de Uso e todas as
          leis e regulamentos aplicáveis. Se você não concordar com algum dos
          termos, não utilize o aplicativo. <br /><br />
          2. <strong>Uso do Aplicativo</strong>: Você se compromete a utilizar o
          aplicativo apenas para fins legais e de acordo com estes termos. É
          proibido: Utilizar o aplicativo para atividades fraudulentas ou
          ilegais; Tentar acessar áreas restritas ou sistemas internos;
          Compartilhar conteúdo ofensivo, discriminatório ou que viole direitos
          de terceiros. <br /><br />
          3. <strong>Propriedade Intelectual</strong>: Todo o conteúdo presente
          no aplicativo, incluindo textos, imagens, logotipos, ícones, gráficos
          e códigos, é protegido por direitos autorais e pertence aos seus
          respectivos proprietários. É proibida a reprodução, distribuição ou
          modificação sem autorização prévia. <br /><br />
          4. <strong>Privacidade</strong>: As informações coletadas são tratadas
          conforme nossa [Política de Privacidade]. Ao utilizar o aplicativo,
          você consente com a coleta e uso de dados conforme descrito nessa
          política. <br /><br />
          5. <strong>Responsabilidades do Usuário</strong>: Você é responsável
          por manter a confidencialidade de suas credenciais de acesso e por
          todas as atividades realizadas por meio de sua conta. Caso suspeite de
          uso não autorizado, entre em contato imediatamente com o suporte.
          <br /><br />
          6. <strong>Limitação de Responsabilidade</strong>: O aplicativo é
          fornecido "como está", sem garantias de qualquer tipo. Não nos
          responsabilizamos por danos diretos, indiretos, incidentais ou
          consequenciais decorrentes do uso ou da impossibilidade de uso do
          aplicativo. <br /><br />
          7. <strong>Modificações nos Termos</strong>: Reservamo-nos o direito
          de alterar estes Termos de Uso a qualquer momento. As alterações
          entrarão em vigor após sua publicação no aplicativo. É
          responsabilidade do usuário revisar os termos periodicamente.
          <br /><br />
          8. <strong>Encerramento ou Suspensão</strong>: Podemos suspender ou
          encerrar seu acesso ao aplicativo, com ou sem aviso prévio, caso haja
          violação destes termos ou por motivos legais. <br /><br />
          9. <strong>Legislação Aplicável</strong>: Estes Termos de Uso são
          regidos pelas leis do país em que o aplicativo está registrado.
          Qualquer disputa será resolvida nos tribunais competentes dessa
          jurisdição. <br /><br />
          10. <strong>Contato</strong>: Em caso de dúvidas, sugestões ou
          solicitações relacionadas a estes Termos de Uso, entre em contato
          conosco por meio dos canais disponíveis no aplicativo.
        </p>
        <ion-infinite-scroll>
          <ion-infinite-scroll-content
            loadingText="Please wait..."
            loadingSpinner="bubbles"
          ></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </div>
    <div id="botoes">
      <ion-button id="aceitar">Aceitar</ion-button>
      <ion-button id="recusar">Recusar</ion-button>
    </div>
  </div>
</ion-content>
